.click-me{
    background-color: black;
    color: white;
}

.no-click-me{
    background-color: yellow;
    color: black;
}

body button{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', 'sans-serif';
}